<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <!-- 반응형 bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- 로고 연결 -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon.png" />
    <link rel="shortcut icon" type="image/png" href="/images/icon.png" sizes="192x192"/>

    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
            crossorigin="anonymous"
    />

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="/stylesheets/calendar.css" />
    <link rel="stylesheet" href="/stylesheets/logout.css" />
    <link rel="stylesheet" href="/stylesheets/navigation.css" />
</head>
<body>

<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<nav class="navbar navbar-inverse" style = "border: 0px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"><img src = "/images/nav_logo.png" width = "59px" height = "27px"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index">HOME</a></li>
          <li><a href="/calendar">CALENDAR</a></li>
          <li><a href="/license">LISENCE</a></li>
          <li><a href="/outdoor">OUTDOOR</a></li>
          <li><a href="/portfolio">PORTFOLIO</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <div class = "logout">
          <li><span class="glyphicon glyphicon-log-in" onClick = "alert('전시 중에는 편의를 위해 로그아웃을 막아놓았습니다.');"> <b>LOGOUT</b></span></li></div>
        </ul>
      </div>
    </div>
  </nav>

<div class="world">
    <div class="calendar_container">
        <div class="container_left">
            <div>
                <div id="pointDay"></div>
                <div id="pointDate"></div>
            </div>
            <div class="container_left_bot">
                <div class="todo-title">To do list :</div>
                <form class="js-toDoForm">
                    <input
                            type="text"
                            placeholder="Write a to do!"
                            class="add-event-day"
                    />
                    <i id = "deleteAll" class="fas fa-trash"></i>
                </form>
                <ul class="js-toDoList"></ul>
            </div>
        </div>
        <div class="container_right">
            <table id="calendar" align="center">
                <thead>
                <tr>
                    <td><label onclick="prevCalendar();"><</label></td>
                    <td align="center" id="monthAndYear" colspan="5"></td>
                    <td><label onclick="nextCalendar()">> </label></td>
                </tr>
                <tr>
                    <td align="center">S</td>
                    <td align="center">M</td>
                    <td align="center">T</td>
                    <td align="center">W</td>
                    <td align="center">T</td>
                    <td align="center">F</td>
                    <td align="center">S</td>
                </tr>
                </thead>
                <tbody id="calendar-body"></tbody>
            </table>
        </div>
    </div>
</div>
<script src="/javascripts/calendar.js"></script>

</body>
</html>
