<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>

  <!-- 반응형 bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- 로고 연결 -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon.png" />
  <link rel="shortcut icon" type="image/png" href="/images/icon.png" sizes="192x192"/>

  <!-- CSS 연결 -->
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/logout.css" />
  <link rel="stylesheet" href="/stylesheets/navigation.css" />
</head>
<body>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-inverse" style = "border: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img src = "/images/nav_logo.png" width = "59px" height = "27px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">HOME</a></li>
        <li><a href="/calendar">CALENDAR</a></li>
        <li><a href="/license">LISENCE</a></li>
        <li><a href="/outdoor">OUTDOOR</a></li>
        <li><a href="/portfolio">PORTFOLIO</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <div class = "logout">
        <li><span class="glyphicon glyphicon-log-in" onClick = "alert('전시 중에는 편의를 위해 로그아웃을 막아놓았습니다.');"> <b>LOGOUT</b></span></li></div>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <div class="sofa">
    <img src="/images/main_sofa.png" />
  </div>

  <div class="text">
    <span class="main_text">
      난
      <br>
      새로운
      <br>
      길로 간다_!
    </span>

    <div class="subtitle">
      효율은 <span>UP!</span> 주머니는 <span>DOWN!</span>
      <br/>
      당신의 포트폴리오를 관리해보세요
    </div>

    <button>START</button>
  </div>
</div>

</body>
</html>
