<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <!-- 반응형 bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- 로고 연결 -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon.png" />
    <link rel="shortcut icon" type="image/png" href="/images/icon.png" sizes="192x192"/>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="/stylesheets/outdoor.css" />
    <link rel="stylesheet" href="/stylesheets/logout.css" />
    <link rel="stylesheet" href="/stylesheets/navigation.css" />
</head>
<body>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <!-- 로고 -->
        <a class="navbar-brand" href="/"><img src="/images/nav_logo.png" class="nav_logo"></a>

        <!-- 햄버거 버튼 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 620px;">
            <ul class="navbar-nav ml-auto">

                <!-- Our Team -->
                <li class="nav-item">
                    <a class="nav-link" href="/calendar" style="padding-right: 38px;">CALENDAR</a>
                </li>

                <!-- Our Work -->
                <li class="nav-item">
                    <a class="nav-link" href="/license" style="padding-right: 38px;">LICENSE</a>
                </li>

                <!-- In the News -->
                <li class="nav-item">
                    <a class="nav-link" href="/outdoor" style="padding-right: 38px;">OUTDOOR</a>
                </li>

                <!-- Work with Us -->
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">PORTFOLIO</a>
                </li>

            </ul>
        </div>

        <div class="logout">
            <li>
                <span onclick="alert('전시 중에는 편의를 위해 로그아웃을 막아놓았습니다.');">LOGOUT</span>
            </li>
        </div>
    </div>
</nav>

<div class="contents">
    <div class="content">
        <div class="title">
            <span>OUTDOOR</span>
            <button>NEW</button>
        </div>

        <hr>

        <div class="outdoors">
            <div class="outdoor">
                <table>
                    <tr>
                        <td width="120px;">활동명</td>
                        <td>사제동행</td>
                    </tr>
                    <tr>
                        <td>활동날짜</td>
                        <td>20XX.XX.XX</td>
                    </tr>
                    <tr>
                        <td>활동장소</td>
                        <td>AAA</td>
                    </tr>
                </table>
            </div>

            <div class="outdoor">
                <table>
                    <tr>
                        <td width="120px;">활동명</td>
                        <td>사제동행</td>
                    </tr>
                    <tr>
                        <td>활동날짜</td>
                        <td>20XX.XX.XX</td>
                    </tr>
                    <tr>
                        <td>활동장소</td>
                        <td>AAA</td>
                    </tr>
                </table>
            </div>

            <div class="outdoor">
                <table>
                    <tr>
                        <td width="120px;">활동명</td>
                        <td>사제동행</td>
                    </tr>
                    <tr>
                        <td>활동날짜</td>
                        <td>20XX.XX.XX</td>
                    </tr>
                    <tr>
                        <td>활동장소</td>
                        <td>AAA</td>
                    </tr>
                </table>
            </div>

            <div class="outdoor">
                <table>
                    <tr>
                        <td width="120px;">활동명</td>
                        <td>사제동행</td>
                    </tr>
                    <tr>
                        <td>활동날짜</td>
                        <td>20XX.XX.XX</td>
                    </tr>
                    <tr>
                        <td>활동장소</td>
                        <td>AAA</td>
                    </tr>
                </table>
            </div>

            <div class="outdoor">
                <table>
                    <tr>
                        <td width="120px;">활동명</td>
                        <td>사제동행</td>
                    </tr>
                    <tr>
                        <td>활동날짜</td>
                        <td>20XX.XX.XX</td>
                    </tr>
                    <tr>
                        <td>활동장소</td>
                        <td>AAA</td>
                    </tr>
                </table>
            </div>

            <div class="outdoor">
                <table>
                    <tr>
                        <td width="120px;">활동명</td>
                        <td>사제동행</td>
                    </tr>
                    <tr>
                        <td>활동날짜</td>
                        <td>20XX.XX.XX</td>
                    </tr>
                    <tr>
                        <td>활동장소</td>
                        <td>AAA</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
