@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

.world {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
}

.calendar_container {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.container_left {
  float: left;
  width: 500px;
  padding: 10px;
  height: 875px;
  background-color: #adb5bd;
}
#pointDay {
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: white;
}

#pointDate {
  margin-top: 20px;
  font-weight: bold;
  font-size: 120px;
  text-align: center;
  color: white;
}

.container_left .container_left_bot {
  border-top: 1px dotted white;
}

.add-event-day,
.add-d-day {
  margin: 0px 10px 0 10px;
  border: none;
  border-bottom: 1px solid rgb(136, 140, 142);
  height: 20px;
  width: 50%;
  font-size: 12px;
  background-color: #adb5bd;
  color: white;
}
.add-event-day:focus,
.add-d-day:focus {
  outline: none;
  caret-color: white;
  color: white;
}

form i {
  float: right;
  cursor: pointer;
}
form i:active {
  transform: scale(0.85);
}

.container_left .container_left_bot .todo-title {
  padding: 10px 10px 0 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
.container_left .container_left_bot ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container_left .container_left_bot ul li {
  padding: 10px 0px 0px 10px;
  color: white;
}

.container_right {
  float: left;
  width: 1100px;
  padding: 10px;
  height: 875px;
  background-color: white;
  /*border: 1px solid #000000;*/
  box-shadow: 0 0 5px rgba(82, 83, 82, 0.4);
}

tr td {
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border: 0px;
}
tr td:active {
  transform: scale(0.8);
}

#tbCalendarYM {
  font-size: 25px;
  padding: 10px;
}

.pointDay {
  background-color: #adb5bd;
  border-radius: 50%;
  color: white;
}

.bg-info {
  background-color: black;
  color: white;
  border-radius: 50%;
}

.paintAdd {
  float: right;
  cursor: pointer;
  margin-left: 10px;
}
.paintAdd:active {
  transform: scale(0.85);
}

@media (max-width: 975px) {
  .container_left {
    width: 2000px;
    padding: 10px;
    height: 1000px;
    /* margin-top: -100px; */
  }
  .container_right {
    width: 1100px;
    padding: 10px;
    height: 440px;
    background-color: white;
    margin-top: 50px;
    position: absolute;
    top: 500px;
  }
  .calendar_container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
  }
  tr td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
  }
}
