@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 1180px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  align-items: center;
}

.title span {
  font-size: 72px;
  font-weight: bold;
}

.title button {
  background-color: #005bac;
  width: 150px;
  height: 50px;
  text-align: center;
  border: 0;
  box-shadow: 0 0 5px rgba(82, 83, 82, 0.4);
  color: white;
  font-size: 25px;
  font-weight: normal;
}

hr {
  background-color: #929292;
}

.licenses {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.license {
  width: 360px;
  height: 200px;
  background-color: white;
  box-shadow: 0 0 5px rgba(82, 83, 82, 0.4);
  margin-bottom: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.license table {
  margin-top: 30px;
  width: 300px;
}

.info {
  margin-left: 98px;
}

.info tr {
  height: 50px;
}
@media (max-width: 975px) {
  .title span {
    font-size: 62px;
    font-weight: bold;
  }
  .title button {
    background-color: #005bac;
    width: 130px;
    height: 40px;
  }
  .license {
    width: 360px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 5px rgba(82, 83, 82, 0.4);
    margin-bottom: 30px;
    margin-left: 70px;
  }
}
